#
# This file is generated and simplified from P3TERX's template
#

name: Evaluation

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      KERNEL_OLD:
        description: 'Use 4.14 kernel'
        required: true
        default: 'true'

env:
  REPO_URL: https://github.com/coolsnowwolf/openwrt
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: .config
  CONFIG_FILE_OLD: 4.14.config
  UPLOAD_FIRMWARE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: Clone source code
      working-directory: /workdir
      run: |
        df -hT $PWD
        git clone https://github.com/coolsnowwolf/openwrt openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
        
    - name: Change kernel version
      if: github.event.inputs.KERNEL_OLD == 'true'
      run:  |
        sed -i 's/KERNEL_PATCHVER:=4.19/KERNEL_PATCHVER:=4.14/g' openwrt/target/linux/x86/Makefile
        [ -e $CONFIG_FILE_OLD ] && mv $CONFIG_FILE_OLD $CONFIG_FILE && ls
        
    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Load custom configuration
      run: |
        [ -e files ] && mv files openwrt/files
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
